asgiref==3.8.1
bcrypt==4.2.0
build==1.2.2.post1
cachetools==5.5.0
chroma-hnswlib==0.7.6
chromadb==0.5.18
Deprecated==1.2.14
durationpy==0.9
flatbuffers==23.5.26
google-auth==2.36.0
googleapis-common-protos==1.65.0
grpcio==1.67.1
h2==4.1.0
hnswlib==0.7.0
hpack==4.0.0
huggingface_hub==0.21.4
hyperframe==6.0.1
importlib_resources==6.4.5
kubernetes==31.0.0
mmh3==5.0.1
openai==1.54.3
fastapi==0.115.4
oauthlib==3.2.2
opentelemetry-api==1.28.0
opentelemetry-exporter-otlp-proto-common==1.28.0
opentelemetry-exporter-otlp-proto-grpc==1.28.0
opentelemetry-instrumentation==0.49b0
opentelemetry-instrumentation-asgi==0.49b0
opentelemetry-instrumentation-fastapi==0.49b0
opentelemetry-proto==1.28.0
opentelemetry-sdk==1.28.0
opentelemetry-semantic-conventions==0.49b0
opentelemetry-util-http==0.49b0
orjson==3.10.11
pyasn1==0.6.1
pyasn1_modules==0.4.1
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
PyPika==0.48.9
pyproject_hooks==1.2.0
requests-oauthlib==2.0.0
rsa==4.9
tenacity==9.0.0
typer==0.13.0
typer-slim==0.13.0
websocket-client==1.8.0
wrapt==1.16.0
zstandard==0.23.0
